  <div  style="background-color: #fff; margin-top:25px;margin-left: 400px  ">

<br>
 <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 2900px;">
<form action="/users" method="POST" autocomplete="off">
   <h3 style="align-items:center ;margin-left: 83px">ENTER USERNAMES</h3>
   <br>
    <div class="form-row">
    <div class="form-group col-md-6 ">
        <label>MENTORPIC USERNAME</label>
        <input type="text" class="form-control" name="mp" placeholder="" value="NILL">
    </div>
    <div class="form-group col-md-6 ">
        <label>GEEKSFORGEEKS USERNAME</label>
        <input type="text" class="form-control" name="gfg" placeholder=""  value="NILL">
      </div>
      </div> 
      <div class="form-row">
     <div class="form-group col-md-6 ">
            <label>CODECHEF USERNAME</label>
            <input type="text" class="form-control" name="cc" placeholder=""  value="NILL">
        </div>
        <div class="form-group col-md-6  ">
            <label>CODEFORCES USERNAME</label>
            <input type="text" class="form-control" name="cf"   value="NILL">
        </div>
        </div> 
        <div class="form-row">
        <div class="form-group  col-md-6">
            <label>SPOJ USERNAME</label>
            <input type="text" class="form-control" name="spoj"   value="NILL">
            </div>
        <div class="form-group col-md-6 ">
            <label>INTERVIEWBIT USERNAME</label>
            <input type="text" class="form-control" name="ib"   value="NILL">
        </div>
        </div>
        <div class="form-group ">
            <label>BATCH</label>
            <input type="number" class="form-control" name="batch"   value="NILL">
        </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a href="/updatebymp"   class="btn btn-info"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Update  </a>
    </div>
</form>
  </div>
  </article>
  </div>
  