<div  style="background-color: #fff; margin-top:50px;margin-left: 350px ;width: 600px; ">
       <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 2900px;">
<h3 style="align-items:center">ENTER MENTORPIC USERNAME</h3>
<br>
<form action="/update" method="GET"  autocomplete="off">
   
  
    <div class="form-group  ">
        <label>MENTORPIC USERNAME</label>
          <input type="text" class="form-control" name="mentor" placeholder="enter the same mentorpic username" > 
    </div>

<button type="submit"  class="btn btn-info"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Update</button>
    
 </form>
 </article>
 </div>
 </div>